<div class="background">
    <div class="login-container">
        <div class="form-container">
            <h1>Вітаємо на сторінці реєстрації Dungeons And Dragons</h1>
            <h5>Зареєструйтесь із використанням E-mail</h5>
            <app-login-form (formData)="register($event)"></app-login-form>
            <div class="error" *ngIf="errorOccured">
                {{regMessage}}
            </div>
            <div class="success" *ngIf="!errorOccured">
                {{regMessage}}
            </div>
        </div>
        <div class="text-container">
            <h1>Агов, друже!</h1>
            <p>
                Уже маєш суперський акаунт? Тоді вперед, натисни кнопку нижче для входу!
            </p>
            <button mat-button routerLink="/">Вхід</button>
        </div>
    </div>
</div>