<form [formGroup]="newCharacterForm">
    <div class="characters-info">
        <div class="characters-name">
            <span>Ім'я персонажа:</span><input type="text" formControlName="name">

        </div>
        <div class="characters-stats">
            <div class="stats-main">

                <div class="stats-div" *ngFor="let stat of statsPrimary"><span>{{stat | statsTranslation}}</span><input
                        [formControlName]='stat' type="number"></div>
                <div class="characters-additionary stats-div">
                    <span> Особливості: </span><textarea formControlName="additionary" name="additionary" cols="20"
                        rows="10">Жодних особливостей</textarea>
                </div>
            </div>
            <div>
                <div class="armour-health">
                    <div class="health stats-div">
                        <span> Здоров'я: </span><input formControlName="health" name="health" type="number">
                    </div>
                    <div class="armour stats-div">
                        <span> Клас броні: </span><input formControlName="armour" name="armour" type="number">
                    </div>

                </div>
                <div class="stats-secondary">
                    <div class="stats-div" *ngFor="let secStat of statsSecondary"><span>{{secStat |
                            statsTranslation}}</span><input [formControlName]='secStat' type="number"></div>
                </div>
            </div>

            <div class="abilities-inventory">
                <div class="abilities stats-div">
                    <span> Здібності: </span><textarea formControlName="abilities" name="abilities" cols="40"
                        rows="10">Жодних здібностей</textarea>
                </div>

                <div class="inventory stats-div">
                    <span> Інвентар: </span><textarea formControlName="inventory" name="inventory" cols="40"
                        rows="10">Пусто</textarea>
                </div>
            </div>
        </div>
    </div>
    <button (click)="createCharacter()">Створити персонажа</button>
</form>