<mat-tab-group>
    <mat-tab label="Історія">
        <div class="history">
            <b>2021 рік до Великого Розколу (до нашої ери, далі просто до в.р.) –</b> перша письмова згадка в
            ельфійських
            літописах про єдину державу. Більш стародавні записи або втрачені або неможливо перекласти через дуже старий
            діалект. Згадка про коронацію нового імператора Аурієля та перелік великих ельфійських Домів. Якщо ельф
            аристократ належить до Дому, який згадували ще до Великого Розколу то це неймовірно престижно.
            <br>
            <b>1560 рік до В.Р. –</b> ЕльфоІмперія встановлює дипломатичні контакти з молодим королівством драконоїдів
            <br>
            <b>1320 рік до В.Р. –</b> перша письмова згадка про людей, гномів. Люди та гноми знаходяться на досить
            примітивному
            рівні технологій, тому їхні племена майже всі підкоряються Ельфоімперії
            <br>
            <b>720 рік до В.Р. –</b> заснована Магічна Академія «Артурікс», де навчаються найкращі чаклуни Ельфоімперії
            <br>
            <b>122 рік до В.Р. –</b> поширення темної магії та культів демонопоклонників серед частини населення ельфів,
            наростання розколу в суспільстві
            <br>
            <b>93 рік до В.Р. –</b> Частина Великих Домів відкрито заявляють про поклоніння темним Богам на своїх
            землях.
            Зовнішність ельфів починає відрізнятися – вони живуть на різних регіонах з різним кліматом + на деяких
            впливають темні сили. Поява Святої Інквізиції.
            <br>
            <b>51 рік до В.Р. –</b> Смерть останнього імператора Ельфоімперії Аурієля. Він правив майже 2000 років і на
            його
            престол є дуже багато претендентів серед різних Домів.
            <br>
            <b>50 рік до В.Р. –</b> Початок Братовбивчої Війни між ельфами. Частина великих Домів поклоняється світлим
            Богам,
            частина Темним, і кожні хочуть посадити свого принца на імператорський трон.
            <br>
            <b> 0 рік, він же Рік Великого Розколу –</b> Велика Битва між двома ельфійськими арміями. Обидві армії
            використовували потужну магію, щоб подолати супротивника. Велика кількість неконтрольованої магії пробудила
            супервулкани які почали виверження та великий Землетрус. Частина континенту разом з давньою столицею ельфів
            йде під воду. Інші ж континенти набувають тих форм яких ми знаємо зараз. Великий викид магії позитивно
            вплинув на людей, гномів та каджитів – їхні когнітивні та магічні здібності суттєво покращилися. Це не
            тільки розкол континентів, а й розкол ельфів на вищих, темних, лісових та ...гірських? (Денис поки так і не
            написав що це за ельфи) Окрім того, була ще одна раса ельфів, яка воювала на боці темних Богів і була
            вигнана. Їхнє захоплення темною магією їх настільки спотворило, що інші ельфійські раси відреклися від них і
            стерли про них згадки в майже всіх літописах.
            <br>
            <b>23 рік після Великого Розколу (після в.р.) –</b> Ельфоімперія розпалася багато дрібних держав в яких
            наступив
            економічний, політичний та магічний хаос.
            <br>
            <b>111 рік після В.Р. –</b> заснування Каджитоміста (назву якого Ігор досі не придумав)
            <br>
            <b>172 рік після В.Р. –</b> Король Драконоїдів Грівус Неймовірний навчився приручати драконів. Він вчить
            цьому
            своїх генералів та жреців і вони починають завойовувати нові землі.
            <br>
            <b>195 рік після В.Р. –</b> Імперія Грівуса у розквіті – ельфи занадто ослаблені, а люди, гноми та каджити
            не
            можуть протистояти більш розвинутій цивілізації драконоїдів, ще й драконам. Починається Золота Епоха Імперії
            Дракона. Драконоїди займають керівні позиції своїх регіонах та активно насаджують свою культуру.
            <br>
            <b>220 рік після В.Р. –</b> Там, куди ще не дібралась Імперія Дракона, але звідки вже пішли ельфи починають
            виникати людські та гномські держави. В цей ж час в різних літописах зафіксовані перші сутички з орками,
            походження яких невідомо драконоїдам, людям чи гномам.
            <br>
            <b>275 після В.Р. –</b> народження Дуродана, майбутнього першого короля гномів.
            <br>
            <b>300 рік після В.Р. –</b> Поява Першої Темної Імперії – держави темних ельфів. З кількох роздрібнених
            королівств
            вони об’єднались в Імперію, під лідерством Імператора (імя закреслено). Перша Імперія веде агресивну
            політику по відношенню до всіх, вторгається до лісових ельфів, завойовує місцеві племена людей та гномів.
            Починаються дипломатичні випади в бік Імперії Дракона
            <br>
            <b>315 рік після В.Р. –</b> Група рабів-людей втікає від своїх власників темних ельфів та перетинає кордон
            драконоїдів. Темні Ельфи вимагають повернути їм втеклих рабів, але старий Імператор Грівус бажаючи їм
            насолити видає указ, за яким всі біглі раби, що перетинають державний кордон отримують свободу. Хоча в
            Імперії Дракона теж поширене рабство. Це провокує все більше груп рабів до втечі.
            <br>
            <b>317 рік після В.Р. –</b> після чергової втечі рабів, загін темноельфійських солдат шукачів перетинає
            драконський
            кордон. Вони відшукують рабів, однак їх самих оточує загін драконоїдів. Після відмови здатися починається
            бій в ході якого всі темноельфійські солдати помирають
            Після цієї новини в посольство драконоїдів в столиці Темних Ельфів вриваються асасини та вбивають
            драконського посла. Старий Імператор Грівус оголошує війну Темній Імперії, однак через два дні помирає.
            Помер він від старості чи отрути досі невідомо.
            <br>
            <b>317 – 402 роки після В.Р. –</b> війна між Імперією Дракона та Темною Імперією. Ця війна зачепила кілька
            континентів, а племена людей, гномів, каджитів та орків часто насильно залучалися до цієї війни, щоб воювати
            за своїх власників – темних ельфів чи драконоїдів. Тому в історію ця війна увійшла як «Рабська Війна». У
            фольклорах та міфологіях багатьох народів ця подія займає важливе місце. Інші ельфійські держави ігнорують
            цю війну.
            <br>
            <b>402 рік після В.Р. –</b> Армія Драконоїдів штурмом бере столицю Темної Імперії. Темна Імперія
            розпадається, а
            будь-які згадки про Темного Імператора (імя закреслено) видаляють з літописів. Однак більшість драконів
            (саме драконів) загинула в цій війні.
            <br>
            <b>407 рік після В.Р. –</b> Мобілізація племен на війну, жорстока рабовласницька політика, економічна криза
            – всі
            ці проблеми серйозно загрожують Імперії Дракона та порушують її стабільність. У віддалених регіонах імперії
            починаються різні повстання людей, гномів та орків.
            <br>
            <b>419 рік після В.Р. –</b> Імперію Драконів охоплює династична криза. Різні генерали драконоїдів борятся за
            владу
            використовуючі в цьому драконів. Ще більше драконів гине, а більшість виходить з під контролю та
            розлітаються по світу. В багатьох регіонах починаются повстання і виникають нові держави. Каджити вирізають
            гарнізон драконоїдів і оголошують своє місце вільним
            <br>
            <b>427 рік після В.Р. –</b> Перша письмова згадка про зафіксований випадок нової хвороби – «Золотої
            Лихорадки». Ця
            хвороба зачепляє тільки драконоїдів та швидко їх вбиває.
            <br>
            <b>430 рік після В.Р. –</b> смерть сотен тисяч драконоїдів від золотої лихорадки. Падіння Імперії Дракона та
            спустошення столиці хворобою. Вціліли драконоїди втікають на острів Ворм, де засновують нову столицю. З
            острову вони намагаються зберегти залишки імперії, однак під їх контролем залишається лише кілька
            прибережних фортець та колоній.
            <br>
            <b>435 рік після В.Р. –</b> Дуродан, один з гномських лідерів та ветеран «Рабської Війни» оголошується
            першим
            гномським королем. Він дуже талановитий король та йому вдається розширити вплив свого гномського королівства
            на кілька континентів, утворивши так званий «Золотий Трикутник». В цей час починають карбувати крони, а в
            гномів наступає золота епоха
            <br>
            <b>540 рік після В.Р. –</b> поява більшості відомих нам людських держав (окрім імперії Нарт)
            <br>
            <b>550 рік після В.Р. –</b> Смерть Дуродана та розділення його королівства між трьома синами.
            <br>
            <b>600 рік після В.Р. –</b> Велика Чума проходиться по більшості континентів вбиваючі багатьох істот
            <br>
            <b>605 рік після В.Р. –</b> Потужний Маг-Некромант Сіріус користується тим, що людські та гномські держави
            послаблені після чуми та починає збирати армію мертвих. Після кожної битви його армія мерців поповнюється.
            Деякі міста повністю винищені.
            <br>
            <b>615 рік після В.Р. –</b> об’єднана армія вищих ельфів, лісових ельфів, темних ельфів, кількох людських
            держав,
            орочих племен, гномів Срібного Конкордату та Кхазад-Думу дає фінальний бій армії мерців та вбивають Сіріуса.
            Цей бій відбувся там, де зараз Пустеля Бога Смерті. Це останній зафіксований випадок коли стільки різних рас
            та держав об’єдналися.
            <br>
            <b>820 рік після В.Р. –</b> Революція та повстання в Срібному Конкордаті (детальніше читай “Держави»)
            <br>
            <b>875 рік після В.Р. –</b> перша спроба людської колонізації Зеленого Континента (там де джунглі і орки)
            <br>
            <b>880 рік після В.Р. –</b> Заснування орочої держави біля Дикого Поля (ще не прописано детально)
            <br>
            <b>920 рік після В.Р. –</b> невідома раніше раса Кунарі припливає на великому флоті з заходу і вторгається
            на
            континент, де пізніше буде заснована їхня держава Домініон. На цьому континентів вони порабощають або
            винищують цілі народи. Переважно орків, кентаврів та трошки людей
            <br>
            <b>1000 рік після В.Р. –</b> перше вторгнення Домініону на континент людей (там де Королівство Валія +
            лісові
            ельфи) Довга затяжна війна, в ході якої людським державам довелось об’єднатися та разом з лісовими ельфами
            та гномами Срібного Конкордату відбити наступ Домініону.
            <br>
            <b>1007 рік після В.Р. –</b> укладення миру між Домініоном та іншими расами. Домініон погоджується на мир
            протягом
            наступних 50 років.
            <br>
            <b>1025 рік після В.Р. –</b> Король Ардейн Фалар об’єднує кілька людських держав в Імперію Нарт та починає
            експансію на схід.
            <br>
            <b>1032 – 1034 роки після В.Р. –</b> Перша війна Імперії Нарт з людським королівством Рованіону та гномами
            Кхазад-Думу.
            <br>
            <b>1050 рік після В.Р. –</b> поява Другої Темної Імперії ельфів. Повернення старих традицій
            <br>
            <b>1056 рік після В.Р. –</b> повстання орків на острові Аргентум. Туди прибувають шукачі пригод Ка-Ток,
            Зорієль та
            Ікар. Архонт Віктор з імперії Нарт дає завдання шукачам пригод вбити бандита Звіря, де здихає орк Гролл
            бляха муха стільки вкладав в цього перса
            Тим часом в чумовому карантиному місті опиняються Ерітас, ельф Ігоря та кунарі Міша (сорі забув, виправимо
            це)
        </div>
    </mat-tab>
    <mat-tab label="Держави">

    </mat-tab>
</mat-tab-group>