<mat-tab-group>
    <mat-tab label="Особистий кабінет">
        <div class="personal-main">
            <div class="personal-photo">
                <img src={{photoPath}} alt="Ваше фото">
                <div class="photo-change">
                    <label for="avatar">Змінити фото профіля</label>
                    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" hidden
                        (change)="uploadFile()" />

                </div>
            </div>
            <div class="personal-info">
                <div class="personal-username">
                    <span> Ваш псевдонім: </span>
                    <div>
                        <span>{{this.displayName}} </span>
                        <button class="btn" type="button" (click)="displayNameFormButton()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
                <form class="nameForm personal-username" [formGroup]="nameForm" (ngSubmit)="onSubmitName()"
                    *ngIf="displayNameChangeActive">
                    <mat-form-field class="form-control">
                        <mat-label>Новий псевдонім</mat-label>

                        <input matInput formControlName="newDisplayName" type="text" required>
                        <mat-error *ngIf="newDisplayName?.hasError('required')">Введіть новий псевдонім
                        </mat-error>

                    </mat-form-field>

                    <button mat-button type="submit" class="submit-Button">Змінити псевдонім</button>

                </form>
                <div class="personal-username">
                    <div class="username-success">{{successNameMessage}}</div>
                    <div class="username-error">{{changeNameMessage}}</div>
                </div>
                <div class="personal-email">
                    <span> Ваша електронна пошта: </span>
                    <div>
                        <span>{{this.email}} </span>
                        <button class="btn" type="button" (click)="emailFormButton()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
                <form class="emailForm personal-email" [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()"
                    *ngIf="emailChangeActive">
                    <mat-form-field class="form-control">
                        <mat-label>Новий E-mail</mat-label>
                        <input matInput formControlName="newEmail" type="email" required>
                        <mat-error *ngIf="newEmail?.hasError('required')">Введіть новий E-mail
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-control">
                        <mat-label>Підтвердження нового E-mail</mat-label>
                        <input matInput formControlName="newEmailConfirm" type="email" required>
                        <mat-error *ngIf="newEmailConfirm?.hasError('required')">Введіть підтвердження нового E-mail
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-control">
                        <mat-label>Ваш пароль</mat-label>
                        <input matInput formControlName="newEmailPassword" type="password" required>
                        <mat-error *ngIf="newEmailPassword?.hasError('required')">Введіть ваш пароль
                        </mat-error>
                    </mat-form-field>
                    <button mat-button type="submit" class="submit-Button">Змінити E-mail</button>
                </form>
                <div class="personal-email">
                    <div class="email-success">{{successEmailMessage}}</div>
                    <div class="email-error">{{changeEmailMessage}}</div>
                </div>
                <div class="personal-password">
                    <button mat-button type="button" class="triger"
                        (click)="passwordFormButton()">{{passMenuText}}</button>
                    <div class="password-success">
                        {{successMessage}}
                    </div>
                    <form class="form" [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()"
                        *ngIf="passwordChangeActive">
                        <mat-form-field class="form-control">
                            <mat-label>Старий пароль</mat-label>
                            <input matInput formControlName="oldPassword" type="password" required />
                            <mat-error *ngIf="oldPassword?.hasError('required')">
                                Введіть старий пароль
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-control">
                            <mat-label>Новий пароль</mat-label>
                            <input matInput formControlName="newPassword" type="password" required />
                            <mat-error *ngIf="newPassword?.hasError('required')">
                                Введіть новий пароль
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-control">
                            <mat-label>Підтвердження нового паролю</mat-label>
                            <input matInput formControlName="newPasswordConfirm" type="password" required />
                            <mat-error *ngIf="newPasswordConfirm?.hasError('required')">
                                Введіть підтвердження нового паролю
                            </mat-error>
                        </mat-form-field>
                        <div *ngIf="errorOccured" class="password-error">
                            {{changeMessage}}
                        </div>
                        <div class="form-footer">
                            <button class="submit-Button" mat-button type="submit">Змінити пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Персонажі">
        <div class="characters-main">
            <div class="characters-list">

                <button (click)="selectedCharacterName = char.key; checker()" *ngFor="let char of characters | keyvalue"
                    class="char-button">{{char.key}}</button>
                <button (click)="newCharacterForm = !newCharacterForm; selectedCharacterName = ''">Новий
                    персонаж</button>


            </div>
            <div class="characters-info">
                <app-character-form *ngIf="newCharacterForm"></app-character-form>
                <div class="characters-name" *ngIf="selectedCharacterName">
                    <span>Ім'я персонажа:</span><input type="text" disabled value="{{selectedCharacterName}}">

                </div>
                <div class="characters-stats">
                    <div class="stats-main" *ngIf="selectedCharacterName">


                        <div class="stats-div"><span> Сила: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].str}}"></div>
                        <div class="stats-div"><span> Спритність: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].dex}}"></div>
                        <div class="stats-div"><span> Статура: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].con}}"></div>
                        <div class="stats-div"><span> Інтелект: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].int}}"></div>
                        <div class="stats-div"><span> Мудрість: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].wis}}"></div>
                        <div class="stats-div"><span> Харизма: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].cha}}"></div>

                        <div class="characters-additionary stats-div" *ngIf="selectedCharacterName">
                            <span> Особливості: </span><textarea name="additionary" cols="20" rows="10"
                                disabled>{{characters[selectedCharacterName].additionary}}</textarea>
                        </div>
                    </div>
                    <div>
                        <div class="armour-health">
                            <div class="health stats-div" *ngIf="selectedCharacterName">
                                <span> Здоров'я: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].health}}">
                            </div>
                            <div class="armour stats-div" *ngIf="selectedCharacterName">
                                <span> Клас броні: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].armour}}">
                            </div>

                        </div>
                        <div class="stats-secondary" *ngIf="selectedCharacterName">
                            <div class="stats-div"> <span> Актобатика: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].acro}}"></div>
                            <div class="stats-div"> <span> Атлетика: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].athl}}"></div>
                            <div class="stats-div"> <span> Магія: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].magi}}"></div>
                            <div class="stats-div"> <span> Обман: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].dece}}"></div>
                            <div class="stats-div"> <span> Історія: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].hist}}"></div>
                            <div class="stats-div"> <span> Проникливість: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].perc}}"></div>
                            <div class="stats-div"> <span> Залякування: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].inti}}"></div>
                            <div class="stats-div"> <span> Розслідування: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].inve}}"></div>
                            <div class="stats-div"> <span> Медицина: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].medi}}"></div>
                            <div class="stats-div"> <span> Природа: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].natu}}"></div>
                            <div class="stats-div"> <span> Сприйняття: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].perc1}}"></div>
                            <div class="stats-div"> <span> Виступ: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].perf}}"></div>
                            <div class="stats-div"> <span> Переконання: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].conv}}"></div>
                            <div class="stats-div"> <span> Релігія: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].reli}}"></div>
                            <div class="stats-div"> <span> Спритність рук: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].lege}}"></div>
                            <div class="stats-div"> <span> Скрадання: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].secr}}"></div>
                            <div class="stats-div"> <span> Виживання: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].surv}}"></div>
                            <div class="stats-div"> <span> Поводження з тваринами: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].pett}}"></div>
                        </div>
                    </div>

                    <div class="abilities-inventory">
                        <div class="abilities stats-div" *ngIf="selectedCharacterName">
                            <span> Здібності: </span>
                            <textarea name="abilities" cols="40" rows="10"
                                disabled>{{characters[selectedCharacterName].abilities}}</textarea>
                        </div>

                        <div class="inventory stats-div" *ngIf="selectedCharacterName">
                            <span> Інвентар: </span>
                            <textarea name="inventory" cols="40" rows="10"
                                disabled>{{characters[selectedCharacterName].inventory}}</textarea>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedCharacterName">
                    <button (click)="editCharacter()">Редагувати</button>
                    <button (click)="deleteCharacter()">Видалити персонажа</button>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>