<mat-tab-group>
    <mat-tab label="Особистий кабінет">
        <div class="personal-main">
            <app-photo-edit></app-photo-edit>
            <div class="personal-info">
                <app-display-name-edit></app-display-name-edit>
                <app-email-edit></app-email-edit>
                <app-password-edit></app-password-edit>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Персонажі">
        <div class="characters-main">
            <div class="characters-list">

                <button (click)="selectedCharacterName = char.key; checker()" *ngFor="let char of characters | keyvalue"
                    class="char-button">{{char.key}}</button>
                <button (click)="newCharacterForm = !newCharacterForm; selectedCharacterName = ''">Новий
                    персонаж</button>


            </div>
            <div class="characters-info">
                <app-character-form *ngIf="newCharacterForm"></app-character-form>
                <div class="characters-name" *ngIf="selectedCharacterName">
                    <span>Ім'я персонажа:</span><input type="text" disabled value="{{selectedCharacterName}}">

                </div>
                <div class="characters-stats">
                    <div class="stats-main" *ngIf="selectedCharacterName">


                        <div class="stats-div"><span> Сила: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].str}}"></div>
                        <div class="stats-div"><span> Спритність: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].dex}}"></div>
                        <div class="stats-div"><span> Статура: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].con}}"></div>
                        <div class="stats-div"><span> Інтелект: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].int}}"></div>
                        <div class="stats-div"><span> Мудрість: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].wis}}"></div>
                        <div class="stats-div"><span> Харизма: </span><input type="text" disabled
                                value="{{characters[selectedCharacterName].cha}}"></div>

                        <div class="characters-additionary stats-div" *ngIf="selectedCharacterName">
                            <span> Особливості: </span><textarea name="additionary" cols="20" rows="10"
                                disabled>{{characters[selectedCharacterName].additionary}}</textarea>
                        </div>
                    </div>
                    <div>
                        <div class="armour-health">
                            <div class="health stats-div" *ngIf="selectedCharacterName">
                                <span> Здоров'я: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].health}}">
                            </div>
                            <div class="armour stats-div" *ngIf="selectedCharacterName">
                                <span> Клас броні: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].armour}}">
                            </div>

                        </div>
                        <div class="stats-secondary" *ngIf="selectedCharacterName">
                            <div class="stats-div"> <span> Актобатика: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].acro}}"></div>
                            <div class="stats-div"> <span> Атлетика: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].athl}}"></div>
                            <div class="stats-div"> <span> Магія: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].magi}}"></div>
                            <div class="stats-div"> <span> Обман: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].dece}}"></div>
                            <div class="stats-div"> <span> Історія: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].hist}}"></div>
                            <div class="stats-div"> <span> Проникливість: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].perc}}"></div>
                            <div class="stats-div"> <span> Залякування: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].inti}}"></div>
                            <div class="stats-div"> <span> Розслідування: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].inve}}"></div>
                            <div class="stats-div"> <span> Медицина: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].medi}}"></div>
                            <div class="stats-div"> <span> Природа: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].natu}}"></div>
                            <div class="stats-div"> <span> Сприйняття: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].perc1}}"></div>
                            <div class="stats-div"> <span> Виступ: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].perf}}"></div>
                            <div class="stats-div"> <span> Переконання: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].conv}}"></div>
                            <div class="stats-div"> <span> Релігія: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].reli}}"></div>
                            <div class="stats-div"> <span> Спритність рук: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].lege}}"></div>
                            <div class="stats-div"> <span> Скрадання: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].secr}}"></div>
                            <div class="stats-div"> <span> Виживання: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].surv}}"></div>
                            <div class="stats-div"> <span> Поводження з тваринами: </span><input type="text" disabled
                                    value="{{characters[selectedCharacterName].pett}}"></div>
                        </div>
                    </div>

                    <div class="abilities-inventory">
                        <div class="abilities stats-div" *ngIf="selectedCharacterName">
                            <span> Здібності: </span>
                            <textarea name="abilities" cols="40" rows="10"
                                disabled>{{characters[selectedCharacterName].abilities}}</textarea>
                        </div>

                        <div class="inventory stats-div" *ngIf="selectedCharacterName">
                            <span> Інвентар: </span>
                            <textarea name="inventory" cols="40" rows="10"
                                disabled>{{characters[selectedCharacterName].inventory}}</textarea>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedCharacterName">
                    <button (click)="editCharacter()">Редагувати</button>
                    <button (click)="deleteCharacter()">Видалити персонажа</button>

                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>